//variables globales


//colors
$mainColor: rgba(77, 29, 7, 0.5);
$secondaryColor: brown;
$keyColor: white;
$Colorblack: black;


//fonts
$mainFonts: 'Roboto', sans-serif;


//sizing
$textSm: 8em;
$textMd: 6em;
$textLg: 4em;
$textl: 3em;
$textXll: 2.5em;
$textXl: 2em;
$textX: 1em;
$text: 0.5em;

//font weight
$fontLight:150;
$fontLightl:300;
$fontBold:500;
$fontcold: 600;
$fontregular:700;

// p{
//     font-family: $mainFonts;
//     color: $mainColor;
// }

